melitk.melipass
melitk.analytics
boto3
dask
jaydebeapi
matplotlib
numpy
pandas
pathos
pyyaml
s3fs
scipy
seaborn
tensorflow
teradata
scikit-learn
python-dateutil
pytest
teradatasql
pytest-cov
teradata
